<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="YouTrack Automation Suite" parallel="methods" thread-count="3" data-provider-thread-count="2">

    <listeners>
        <listener class-name="utils.ScreenshotListener"/>
    </listeners>

    <test name="All Functional Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.CreateIssueTest"/>
            <class name="tests.SearchIssueTest"/>
            <class name="tests.LogoutTest"/>
            <class name="tests.DeleteIssueTest"/>
        </classes>
    </test>

</suite>